.App {
  text-align: left;
}

body{
  background-color: #1d1d1d;
  color: white;
}

.navigation {
  background-color: #2b2b2b;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.navigationButtons{
  background-color: #646464;
  color: white;
}

.navigationButtons:hover{
  background-color: #8f8f8f;
  color: white;
}

.AddCar {
  text-align: center;
}

.EngineTypeDiv{
  display:inline;
}

.FormButton {
  margin: 0.1rem;
}

.EditButton{
  width: 100%;
}

.EditButton:hover{
  width: 100%;
  background-color: rgb(246, 246, 246);
}

.DeleteButton{
  width: 100%;
  color: white;
  background-color: rgb(144, 0, 0);
}

.DeleteButton:hover{
  background-color: rgb(179, 0, 0);
}

.DivCarList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

th, td {
  border: 1px solid black;
}

table {
  border: 1px solid black;
  width: 80%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
